import(Biobase, GenomicRanges, survival)
importFrom(stats, coefficients, coef, fitted, fitted.values, residuals, time,
           weights, predict)
importFrom(graphics, plot)
importFrom(graphics, boxplot)

importFrom(CoxBoost, CoxBoost)
importFrom(Hmisc, rcorr.cens)
importFrom(gbm, basehaz.gbm)
exportPattern("^[[:alpha:]]+")
export(cvSubsets, funCV, geneFilter, getTrueModel, masomenos, plusMinus, rowCoxTests, simBootstrap, simData, simTime, zmatrix)
useDynLib(simulatorZ,.registration=TRUE)

